<div id="result"></div>

<script>
    function sendQuery( page, dstPage, pdf ) {
        if (null == page) {
            page = 1;
        }

        $("#ta").val(page);

        var opts = {};

        var val = $(".qryfield").filter(function(){
            var name       = $(this).attr('id');
            var dft        = $(this).attr('dft');
            var filetype   = $(this).attr('filetype');
            var headername = $(this).attr('headername');
            var val        = $(this).val();

            if (val != dft) {
                $("#ta").val($("#ta").val() + "\n" + name + " : " + val + " != " + dft);
                if ( opts[filetype] == undefined ) {
                    opts[filetype] = new Object();
                }
                opts[filetype][headername] = val;
            }
            else {
                $("#ta").val($("#ta").val() + "\n" + name + " : " + val + " == " + dft);
            };
        });


        var payload    = JSON.stringify(opts);


        $("#ta").val($("#ta").val() + "\nPAYLOAD: "  + payload);

        if ( null == dstPage ) {
            $('#result').html("<b>Querying ...</b>");
            var dstLink    = "/query/" + page + "";
            $("#ta").val($("#ta").val() + "\nDST LINK: " + dstLink);

            $.post(dstLink, payload,
                function(data) {
                     $('#result').html(data);
                     //$("#ta").val($("#ta").val() + "\n" + data);
                 });
        } else {
            var dstLink    = "/query/full/" + page + "";
            if ( null != pdf && pdf ) {
                dstLink    = "/query/full/pdf/" + page + "";
            }
            
            $("#ta").val($("#ta").val() + "\nDST LINK: " + dstLink);

            $.post(dstLink, payload,
                function(data) {
                    var win = window.open('', dstPage);
                     win.document.write(data);
                     //$("#ta").val($("#ta").val() + "\n" + data);
                 });
        }
    }
</script>
