{% include 'paginator.html' -%}

{% for page in resKeys -%}
    {% set transcriptData = resPage[page] -%}
    {% set pageshort = page.replace("-", "").replace("_", "").replace(".", "") %}
    <div class="row-fluid">
        <div class="span12">
            <h4>{{ beginPos + loop.index }}: {{ page }} <i class="icon-chevron-down" dst="row{{ pageshort }}"></i> <i class="icon-picture" dst="row{{ pageshort }}statsgraph"></i> <small>(category: {{ transcriptData.stats['category'] }})</small></h4>
        </div>
    </div> <!-- end header row -->
    <div class="row-fluid graph graphbig" id="row{{ pageshort }}statsgraph"> <!-- start vals row graph-->
        <div class="span12"> <!-- start val cell -->
            {{ transcriptData.stats["graphText"]|safe }}
        </div>
    </div>

    <div class="row-fluid rowresults" id="row{{ pageshort }}">
        <div class="row-fluid">
            <div class="span11 offset1 stats">
                <div class="row-fluid">
                    <div class="span12">
                        <h4>Stats <i class="icon-chevron-down" dst="row{{ pageshort }}stats"></i></h4>
                    </div>
                </div>
                {% include "stats.html" -%}
            </div>
        </div>

        {% for transcriptName in transcriptData.getTranscripts() -%}
            {% set transcriptNameShort = transcriptName.replace("-", "").replace("_", "").replace(".", "") %}
            <div class="row-fluid">
                <div class="span11 offset1 transcripts">
                    <div class="row-fluid">
                        <div class="span12">
                            <h4>Transcript: {{ transcriptName }} <i class="icon-chevron-down" dst="row{{ pageshort }}{{ transcriptNameShort }}"></i> <small>Sample: {{ transcriptData.getSampleName(transcriptName) }}</small></h4>
                        </div>
                    </div>
                    {% include "transcripts.html" -%}
                </div>
            </div>
        {% endfor -%}
    </div>

{% endfor -%}

{% include 'paginator.html' -%}


<script>
    $(document).ready(function(){
        $("div.rowresults").each(function(){ $(this).css('display', 'none')});
        $("div.rowgroup"  ).each(function(){ $(this).css('display', 'none')});
        $("div.rowtype"   ).each(function(){ $(this).css('display', 'none')});
        $("div.rowdata"   ).each(function(){ $(this).css('display', 'none')});
    });
</script>
